//! **************************************************************************
// Written by: Map P.20131013 on Sun Sep 21 18:49:03 2014
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "DPSwitch<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "DPSwitch<1>" LOCATE = SITE "P59" LEVEL 1;
COMP "Switch<0>" LOCATE = SITE "P80" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P49" LEVEL 1;
COMP "Switch<1>" LOCATE = SITE "P79" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P48" LEVEL 1;
COMP "Switch<2>" LOCATE = SITE "P78" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P47" LEVEL 1;
COMP "Switch<3>" LOCATE = SITE "P77" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P46" LEVEL 1;
COMP "Switch<4>" LOCATE = SITE "P76" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P55" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P54" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P51" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P50" LEVEL 1;
SCHEMATIC END;

