//! **************************************************************************
// Written by: Map P.20131013 on Sun Sep 21 17:02:13 2014
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "A<0>" LOCATE = SITE "P70" LEVEL 1;
COMP "A<1>" LOCATE = SITE "P69" LEVEL 1;
COMP "B<0>" LOCATE = SITE "P68" LEVEL 1;
COMP "B<1>" LOCATE = SITE "P64" LEVEL 1;
COMP "z" LOCATE = SITE "P55" LEVEL 1;
SCHEMATIC END;

